
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://fthmb.tqn.com/0qIJPP9QHiT4zutlEjKd6mldUyg=/960x0/filters:no_upscale()/GettyImages-158983962-584a15f65f9b58a8cd3205e0.jpg"
      alt="Boba">
      <div class="caption">
        <h3>Buy 10 Boba Drinks Get 1 Free Coupon!</h3>
        <p>Synopsis: A troubled high school student discovers the truth behind his hidden abilities.</p>
        <p><a href="#" class="btn btn-primary" role="button">Redeem Coupon</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BM2Y1NWNmYTQtYTc1ZC00OWE1LWFiZWQtOWJjZDMwMTNkYmQ1XkEyXkFqcGdeQXVyOTg4MDYyNw@@._V1_.jpg"
      alt="Accident Man">
      <div class="caption">
        <h3>Accident Man now on DVD/Bluray!</h3>
        <p>Synopsis: Mike Fallon, the Accident Man, is a stone-cold killer.
          When a loved one is murdered by his own crew, Fallon is forced to avenge the one person who actually meant something to him.</p>
        <p><a href="#" class="btn btn-primary" role="button">Buy for $13.99</a>
         <a href="#" class="btn btn-primary" role="button">Rent for $4.99</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMzI3YzgwNjEtNGUyYS00OTM2LTlmNWYtMTY4NzhjMjFlNmU2XkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_SY1000_CR0,0,714,1000_AL_.jpg"
      alt="Kill Order">
      <div class="caption">
        <h3>Kill Order now on DVD/Bluray!</h3>
        <p>Synopsis: A troubled high school student discovers the truth behind his hidden abilities.</p>
        <p><a href="#" class="btn btn-primary" role="button">Buy for $8.99</a>
         <a href="#" class="btn btn-primary" role="button">Rent for $3.49</a></p>
      </div>
    </div>
  </div>
</div>
